@model AssignmentTwo.Models.FlightSearchViewModel.FlightSearchViewModel

<div>
    <ul>
        <a asp-area="" asp-controller="Flight" asp-action="SearchResults" class="btn btn-default">Search Results</a>
    </ul>
</div>

<div>
</div>