@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<style>
    #wrap {
        width:100%;
        height:50%;
    }
    .left {
        width:70%;
        height:100%;
        float:left;
    }
    .right {
        padding-left:25px;
        width: 30%;
        height: 100%;
        float:right;
    }
    .bottom {
        width:100%;
        height:100%;
        float:right;
        
    }
</style>
        <div id="wrap">
            <div class="left">
                <img src="~/images/Plane5.jpg" alt="Visual Studio" class="img-responsive" />
            </div>
            <div class="right">
                <p>
                    We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.

                    Why are low fares so important? We believe travel should be for everyone. Low fares allow people to travel more often, see new places, connect with family and loved ones and develop business opportunities.

                    We work harder than anyone in the airline industry to help you save money on your flights, but we know that low fares alone aren’t enough. That’s why we make a bigger commitment to our customers-- the ‘Done Right’ promise. This means providing you a real choice – with options that allow you to customize your flight to match both your wants and your wallet. And we are committed to providing safe, on-time and reliable service while at the same time treating you with Rocky Mountain hospitality like only we can provide.
                </p>
            </div>
        </div>
        <div class="bottom">
            <br />

            <p>
                Apart from ensuring better transparency and governance, the business segments will have flexibility to explore collaborative opportunities for raising capital, making the subsidiaries more competitive and responsive, thus strengthening our position in the market.

                The largest contributing segment of the Group is our Air Transportation Services which houses Airlines, network carriers serving the global and domestic markets and all passenger segments. Also under the umbrella is the division MAB Kargo providing standard, express and special cargo. The Group also includes ground handling services, engineering, training facilities as well as a dedicated aircraft leasing company to provide customised and competitive aviation leasing solutions.
            </p>
            <img src="~/images/Plane6.jpg" alt="Visual Studio" class="img-responsive" />
            <br />
            <p>
                Skyscanner allows you to find the cheapest flights without having to enter specific dates or even destinations, making it the best place to find cheap flights for your trip. Use the links at the side of the page to browse for flight information or use the flight search controls above to start a new search.
            </p>
        </div>
