@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<style>
    #wrap {
        width:100%;
        height:50%;
    }
    .left {
        width:70%;
        height:100%;
        float:left;
    }
    .right {
        padding-left:25px;
        width: 30%;
        height: 100%;
        float:right;
    }
    .bottom {
        width:100%;
        height:100%;
        float:right;
        
    }
</style>
        <div id="wrap">
            <div class="left">
                <img src="~/images/Plane5.jpg" alt="Visual Studio" class="img-responsive" />
            </div>
            <div class="right">
                <p>
                    We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.

                    Why are low fares so important? We believe travel should be for everyone. Low fares allow people to travel more often, see new places, connect with family and loved ones and develop business opportunities.

                    We work harder than anyone in the airline industry to help you save money on your flights, but we know that low fares alone aren’t enough. That’s why we make a bigger commitment to our customers-- the ‘Done Right’ promise. This means providing you a real choice – with options that allow you to customize your flight to match both your wants and your wallet. And we are committed to providing safe, on-time and reliable service while at the same time treating you with Rocky Mountain hospitality like only we can provide.
                </p>
            </div>
        </div>
        <div class="bottom">
            <br />

            <p>
                We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.
                We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.
                We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.
            </p>
            <img src="~/images/Plane6.jpg" alt="Visual Studio" class="img-responsive" />
            <br />
            <p>
                We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.
                We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.
                We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.We are committed to delivering ‘Low Fares Done Right’. This is more than a tagline. It’s our driving philosophy.
            </p>
        </div>
